.navber a{
 text-decoration: none;
 padding-right: 20px;
 font-size: 20px;
}
.navber a:hover{
    color: rgb(142, 170, 248);
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
.header{
    background-color: rgb(255, 254, 254);
    box-shadow: 0 4px 4px rgb(155, 151, 151);
}
.mehe-shadow{
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    cursor: pointer;
}
.login{
    padding-left: 17px;
    padding-bottom: 5px;
}

@media screen and (max-width:600px){
    .mehe-shadow{
        text-align: center;
        padding-bottom: 20px;
    }
    .navber a{
        margin-left: 0px;
        font-weight: bold;
        margin-right: 0px;
    }
    .header{
        width: 100%;
        box-sizing: border-box;
    }
    .login{
        padding-left: 0;
        padding-bottom: 5px;
    }
}